

* {
  margin: 0;
  padding: 0;
}

#videoContainer {
  height: 70vh;
  overflow: visible;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 58%;
  transform: translate(-50%, -50%);
}


